node_modules

# Ignores compiled TypeScript files
**/dist/**/*.map
**/dist/**/*.js

# Do not commit private tests, they may contain credentials
**/src/*.private.test.ts

# local testing
testing
coverage
